#content {
  padding-top: 80px;
}
a {
  color: #000;
}
.col-lg-1 img,
.col-lg-10 img,
.col-lg-11 img,
.col-lg-12 img,
.col-lg-2 img,
.col-lg-3 img,
.col-lg-4 img,
.col-lg-5 img,
.col-lg-6 img,
.col-lg-7 img,
.col-lg-8 img,
.col-lg-9 img {
  max-width: 100%;
}

img.checkoutItem { max-width: 100px;}
tr.checkoutLine td {
  vertical-align: middle;
}
