<div class="row">
  <h3>User Addresses</h3>
  <div class="row">
    <div class="col-lg-6">
      <uib-accordion close-others="true">
        <uib-accordion-group heading="{{item.FullName}} - {{item.AddressLine}}" ng-repeat="item in addresses">
          <h3>{{item.FullName}}</h3>
          <p>{{item.AddressLine}} - {{item.City}} - {{item.Province}}</p>
          <p>{{item.Country}} - {{item.ZipCode}}</p>
          <p>Telephone: {{item.Telephone}}</p>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Create New Address</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="FullName">FullName</label>
            <input type="text" id="FullName" class="form-control" ng-model="fullName" />
          </div>
          <div class="form-group">
            <label for="AddressLine">AddressLine</label>
            <input type="text" id="AddressLine" class="form-control" ng-model="addressLine" />
          </div>
          <div class="form-group">
            <label for="City">City</label>
            <input type="text" id="City" class="form-control" ng-model="city" />
          </div>
          <div class="form-group">
            <label for="Province">Province</label>
            <input type="text" id="Province" class="form-control" ng-model="province" />
          </div>
          <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" id="Country" class="form-control" ng-model="country" />
          </div>
          <div class="form-group">
            <label for="ZipCode">Zip-Code</label>
            <input type="text" id="ZipCode" class="form-control" ng-model="zipCode" />
          </div>
          <div class="form-group">
            <label for="Telephone">Telephone</label>
            <input type="text" id="Telephone" class="form-control" ng-model="telephone" />
          </div>
          <button ng-click="createAddress()" class="btn btn-default">Create</button>

        </div>
      </div>
    </div>
  </div>

</div>
