<div class="modal-header">
  <h3>Itens in your shopping cart:</h3>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unity Price</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in currentItens">
        <td>{{item.Product.Title}}</td>
        <td>{{item.Product.Price | currency:"USD$"}}</td>
        <td><input type="number" class="form-control" ng-change="updateItemQuantity(item)" ng-model="item.Quantity" /></td>
        <td>{{(item.Product.Price*item.Quantity) | currency:"USD$"}}</td>
        <td><a ng-click="removeItem(item)" class="btn btn-default">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="close()">Continue Shopping</button>
  <a class="btn btn-primary" href="/#/cart" ng-click="close()">Go to checkout</a>
</div>
