<div class="row">
  <div class="col-lg-12">
    <h3>Your shopping cart</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="checkoutLine" ng-repeat="item in currentItens">
          <td><button ng-click="removeItem(item)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
          <td><img class="checkoutItem" class="img-thumbnail" ng-src="{{item.Product.File}}" /></td>
          <td>{{item.Product.Title}}</td>
          <td>{{item.Product.Price | currency:"USD$"}}</td>
          <td><input type="number" class="form-control" ng-model="item.Quantity" ng-change="updateItemQuantity(item)"/></td>
          <td>{{(item.Product.Price*item.Quantity) | currency:"USD$"}}</td>
        </tr>
        <tr ng-show="currentItens.length < 1">
          <td colspan="6">You don't have itens in your cart</td>
        </tr>
      </tbody>
      <tfoot ng-if="orderTotal">
        <tr>
          <td colspan="5"><strong>Sub-Total:</strong></td>
          <td colspan="1">{{orderTotal | currency:"USD$"}}</td>
        </tr>
        <tr ng-if="coupon">
          <td colspan="5">Discount Coupon: </td>
          <td colspan="1">-{{discount | currency:"USD$"}}</td>
        </tr>
        <tr>
          <td colspan="5"><strong>Total:</strong></td>
          <td colspan="1">{{(orderTotal-discount) | currency:"USD$"}}</td>
        </tr>

      </tfoot>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-lg-2"><label for="coupon">I've a discount coupon:</label></div>
    <div class="col-lg-3">
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Coupon Code" ng-model="couponCode" />
      </div>
      <div class="col-lg-3">
        <button class="btn btn-default" ng-click="checkCoupon($event)">Discount</button>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">&nbsp;</div>
</div>
<div class="row" ng-show="userData">
  <div class="col-lg-4">
    <div class="form-group">
      <label for="billing">Billing Address:</label>
      <select ng-model="billingAddress" name="billing" id="billing" ng-options="item.Id as item.AddressLine for item in addresses"></select>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-1">
        <input type="checkbox"  ng-model="sameBilling" value="1" />
      </div>
      <div class="col-lg-8">
        <label for="sameAsBilling">Delivery Address same as billing?</label>
      </div>

    </div>
  </div>
  <div class="col-lg-3" ng-show="!sameBilling">
      <div class="row">
        <div class="col-lg-3">
          <label for="address">Address:</label>
        </div>
        <div class="col-lg-6">
          <select ng-model="address" name="address" id="address" ng-options="item.Id as item.AddressLine for item in addresses"></select>
        </div>
      </div>

  </div>
</div>
<div class="row">
  <div class="col-lg-1">
    <button ng-show="currentItens.length > 0" ng-click="cleanCart()" class="btn btn-danger">Clean Cart</button>
  </div>
  <div class="col-lg-1 col-lg-offset-9">
      <button ng-show="(userData && currentItens.length > 0)" ng-click="createOrder()" class="btn btn-success">Checkout</button>
      <a ng-show="!userData" href="/#/login" class="btn btn-primary">Sign In to continue</a>
  </div>
</div>
