<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>All the best offers are here!</p>
</div>
<div class="row">
  <div ng-repeat="item in content" class="col-lg-4">
    <div class="col-lg-12">
      <img ng-src="{{item.File}}" />
    </div>
    <div class="col-lg-12">
      <h3><a href="#/products/{{item.Id}}">{{item.Title}}</a></h3>
      <p><a href="#/products/{{item.Id}}">Price: {{item.Price | currency:"USD$"}}</a></p>
    </div>
    <div class="col-lg-12">
      <a href="#/products/{{item.Id}}" class="btn btn-default">More Info</a>
    </div>
  </div>
</div>
