<div class="row">
  <div class="col-lg-12">
    <h3>You need to sign in to continue...</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>I already have an account</h4>
        </div>
        <div class="panel-body">
          <div ng-show="loginMessage" class="alert alert-danger" role="alert">{{loginMessage}}</div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" class="form-control" ng-model="userEmail"/>
          </div>
          <div class="form-group">
            <label for="password">password:</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="userPass" />
          </div>
          <button class="btn btn-default" ng-click="userLogin()">Login</button>
        </div>
      </div>


  </div>
  <div class="col-lg-3 col-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>I don't have an account</h4>
      </div>
      <div class="panel-body">
        <a href="/#/signUp" class="btn btn-default" >Sign up</a>
      </div>
    </div>


  </div>
</div>
</div>
