<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Orders</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="item in orders">
            <p><strong>Order ID:</strong> {{item.Id}} <strong>Date:</strong> {{item.Date | date : 'dd-MM-yyyy H:mm:ss'}} - <a href="/#/orders/{{item.Id}}" class="btn btn-xs btn-primary">See details</a></p>

          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6" ng-show="selectedOrder">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Order Details</h4>
      </div>
      <div class="panel-body">
        <div>
          <h4>Order Status: {{selectedOrder.Status}}</h4>
          <h5>Address</h5>
          <p>{{selectedOrder.address.FullName}} <br />
            {{selectedOrder.address.AddressLine}} - {{selectedOrder.address.City}} - {{selectedOrder.address.Province}}<br />
            Zip Code:{{selectedOrder.address.ZipCode}} - {{selectedOrder.address.Country}} <br />
            Telephone: {{selectedOrder.address.Telephone}}
          </p>
          <h5>Billing Address</h5>
          <p>{{selectedOrder.billingAddress.FullName}} <br />
            {{selectedOrder.billingAddress.AddressLine}} - {{selectedOrder.billingAddress.City}} - {{selectedOrder.billingAddress.Province}}<br />
            Zip Code:{{selectedOrder.billingAddress.ZipCode}} - {{selectedOrder.billingAddress.Country}} <br />
            Telephone: {{selectedOrder.billingAddress.Telephone}}
          </p>
          <div>
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in selectedOrder.OrderLists">
                    <td>{{item.Product.Title}}</td>
                    <td>{{item.Product.Price | currency:"USD$"}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{(item.Product.Price * item.Quantity) | currency:"USD$"}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr ng-show="selectedOrder.Coupon">
                    <td colspan="3">Discount</td>
                    <td>{{discount | currency:"USD$"}}</td>
                  </tr>
                  <tr>
                    <td colspan="3">Total:</td>
                    <td>{{selectedOrder.Total | currency:"USD$"}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
