<div class="row">
  <div class="col-lg-4" ng-if="data.File">
    <img ng-src="{{data.File}}" />
  </div>
  <div ng-class="{'col-lg-8': data.File, 'col-lg-12': !data.File}">
    <h3>{{data.Title}}</h3>
    <p>{{data.Text}}</p>
    <p>
      Only: <strong>{{data.Price | currency:"USD$"}}</strong>
    </p>
    <div class="row">
      <div class="col-lg-2">
        <input type="number" class="form-control" ng-model="quantity" min="1" placeholder="Quantity"/>
      </div>
      <div class="col-lg-4">
        <a ng-click="buyItem(data);" class="btn btn-default">Buy</a>
      </div>
    </div>
  </div>
</div>
