<div class="row">
  <div class="col-lg-12">
    <h3>Sign up</h3>

    <div class="row">
      <div class="col-lg-6">
        <div ng-show="errors" class="alert alert-danger" role="alert">{{errors}}</div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ng-model="userName" />
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" id="email" class="form-control" name="email" ng-model="userEmail" />
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" id="pass" class="form-control" name="pass" ng-model="userPass" />
        </div>
        <button class="btn btn-primary" ng-click="create()">Sign Up</button>
      </div>
    </div>

  </div>
</div>
